<ion-view title="Add Expense">
    <div class="bg"></div>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <ion-item class="item item-divider">
                <div>Today's Date: {{currentDate}}</div>
            </ion-item>
        </ion-list>
        <!-- Adding Expense Details Section -->
        <div class="card cardBoxShadowCustom" ng-if="expenseType.length>0 && bankDetails.length > 0">
            <form name="form.addExpenseForm">
                <ion-list>
                    <div class="row">
                        <div class="col">
                            <div class="list" ng-repeat="data in expenseType track by $index" ng-if="data.checked">
                                <label class="item item-input">
                                    <input ng-if="data.expenseType !== 'Date'" type="{{data.inputType}}" name="{{data.expenseType}}" placeholder="{{data.expenseTypeName}}" ng-model="addExpenseTypeData[$index]" ng-pattern="onlyNumbers();">
                                    <label ng-if="data.expenseType === 'Date'" class="item item-input">
                                        <span class="dateDisplayAdjust">Expense Date: {{addExpenseTypeDate}}</span>
                                    </label>
                                </label>
                            </div>
                        </div>
                    </div>
                </ion-list>
            </form>
        </div>
        <div class="card cardBoxShadowCustom" ng-if="(expenseType.length>0 && bankDetails.length > 0)&&(addExpenseError || addExpenseSuccess)">
            <div class="row">
                <div class="col">
                    <div ng-if="addExpenseError" ng-include="'../views/templates/errorTemplate.html'"></div>
                    <div ng-if="addExpenseSuccess" ng-include="'../views/templates/successTemplate.html'"></div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="expenseType.length>0 && bankDetails.length > 0">
            <div class="col">
                <div class="padding">
                    <button class="button button-royal button-block" ng-click="confirmExpenditure()">
                        Submit
                    </button>
                </div>
            </div>
        </div>
        <!-- No Expense Type Exists Section -->
        <div class="card cardBoxShadowCustom" ng-if="expenseType.length===0 && bankDetails.length > 0">
            <ion-list>
                <div class="item item-text-wrap">
                    <div ng-include="'../views/templates/noExpenseType.tpl'"></div>
                </div>
            </ion-list>
        </div>
        <div class="row" ng-if="expenseType.length===0 && bankDetails.length > 0">
            <div class="col">
                <a class="button button-royal button-block" href="#/app/addNewExpenseField">Add New Expense Type</a>
            </div>
        </div>
        <!-- No Bank Details Exists Section -->
        <div class="card" ng-if="bankDetails.length===0">
            <ion-list>
                <div class="item item-text-wrap">
                    <div ng-include="'../views/templates/noBankDetails.html'"></div>
                </div>
            </ion-list>
        </div>
        <div class="row" ng-if="bankDetails.length===0">
            <div class="col">
                <a class="button button-royal button-block" href="#/app/addNewBankDetails">Add New Bank Details</a>
            </div>
        </div>
    </ion-content>
</ion-view>
