<ion-view title="Add New Bank Details">
    <div class="bg"></div>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <ion-item class="item item-divider">
                <div>Add New Bank Details</div>
            </ion-item>
        </ion-list>
        <div class="card cardBoxShadowCustom">
            <ion-list>
                <form name="form.addBankDetailsForm" novalidate>
                    <ion-item>
                        <div class="list">
                            <label class="item item-input">
                                <input type="text" placeholder="Bank Name" ng-model="addBankDetails.bankName" required>
                            </label>
                        </div>
                        <div class="list">
                            <label class="item item-input">
                                <input type="text" placeholder="Branch Name" ng-model="addBankDetails.branchName" required>
                            </label>
                        </div>
                        <div class="list">
                            <label class="item item-input">Select Bank Type: </label>
                            <ion-radio name="bankType" ng-model="addBankDetails.bankType" ng-value="bank.bankType" ng-repeat="bank in bankType.type" required>
                                <i class="fa fa-credit-card ionicIconSize"></i>
                                <span class="bankNameWidth ellipsis">{{bank.bankType}}</span>
                            </ion-radio>
                        </div>
                        <div class="list" ng-if="addBankDetails.bankType">
                            <label class="item item-input">
                                <input type="text" placeholder="Account Number" ng-model="addBankDetails.accountNumber" ng-pattern="onlyNumbers" required ng-if="addBankDetails.bankType === 'Debit'">
                                <input type="text" placeholder="XXXX-XXXX-XXXX-XXXX" ng-model="addBankDetails.accountNumber" ng-if="addBankDetails.bankType === 'Credit'" ui-mask="9999-9999-9999-9999" model-view-value="true" ng-pattern="onlyNumbers" required>
                            </label>
                        </div>
                        <div class="list">
                            <label class="item item-input">
                                <input type="text" placeholder="Current Amount" ng-model="addBankDetails.currentAmount" ng-pattern="onlyNumbers">
                            </label>
                        </div>
                    </ion-item>
                </form>
            </ion-list>
        </div>
        <div class="card cardBoxShadowCustom" ng-if="form.addBankDetailsForm.$invalid && form.addbankDetailsForm.$touched">
            <ion-item>
                <div ng-include="'../views/templates/fillAllFields.html'"></div>
            </ion-item>
        </div>
        <div class="card cardBoxShadowCustom" ng-if="addBankDetailsSuccess && form.addBankDetailsForm.$pristine">
            <ion-item>
                <div ng-include="'../views/templates/successTemplate.html'"></div>
            </ion-item>
        </div>
        <div class="row">
            <div class="col">
                <div class="padding">
                    <button class="button button-royal button-block" ng-click="confirmBankDetails()">
                        Submit
                    </button>
                </div>
            </div>
        </div>
        <!-- BANK DETAILS LIST THAT ARE ADDED -->
        <!-- <ion-list ng-if="bankDetails.length>0">
            <ion-item class="item item-divider">
                <div>Bank Account Details</div>
            </ion-item>
        </ion-list>
        <ion-list>
            <ul class="list">
                <li class="item item-checkbox" ng-if="bankDetails.length>0" ng-repeat="data in bankDetails">
                    <i class="fa fa-calendar ionicIconSize"></i>&nbsp;&nbsp;
                    <label class="checkbox">
                        <input type="checkbox" ng-checked="data.checked" ng-model="bankName[$index];" ng-change="bankShow($index);">
                    </label>
                    {{data.bankName}}
                </li>
            </ul>
        </ion-list> -->
    </ion-content>
</ion-view>
