<ion-view title="Add New Bank Details">
    <div class="bg"></div>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <ion-item class="item item-divider">
                <div>Add New Bank Details</div>
            </ion-item>
        </ion-list>
        <div class="card cardBoxShadowCustom">
            <ion-list>
                <form name="addBankDetailsForm" novalidate>
                    <ion-item>
                        <div class="list">
                            <label class="item item-input">
                                <input type="text" placeholder="Bank Name" ng-model="addBankDetails.bankName" required>
                            </label>
                        </div>
                        <div class="list">
                            <label class="item item-input">
                                <input type="text" placeholder="Branch Name" ng-model="addBankDetails.branchName" required>
                            </label>
                        </div>
                        <div class="list">
                            <label class="item item-input">
                                <input type="text" placeholder="Account Number" ng-model="addBankDetails.accountNumber" ng-pattern="onlyNumbers" required>
                            </label>
                        </div>
                        <div class="list">
                            <label class="item item-input">
                                <input type="text" placeholder="Current Amount" ng-model="addBankDetails.currentAmount" ng-pattern="onlyNumbers">
                            </label>
                        </div>
                    </ion-item>
                </form>
            </ion-list>
        </div>
        <div class="card cardBoxShadowCustom" ng-if="addBankDetailsForm.$invalid && addbankDetailsForm.$touched">
            <ion-item>
                <div ng-include="'../views/templates/fillAllFields.html'"></div>
            </ion-item>
        </div>
        <div class="row">
            <div class="col">
                <div class="padding">
                    <button class="button button-royal button-block" ng-click="addNewBankDetailsToDB()">
                        Submit
                    </button>
                </div>
            </div>
        </div>
        <ion-list ng-if="bankDetails.length>0">
            <ion-item class="item item-divider">
                <div>Bank Account Details</div>
            </ion-item>
        </ion-list>
        <ion-list>
            <ul class="list">
                <li class="item item-checkbox" ng-if="bankDetails.length>0" ng-repeat="data in bankDetails">
                    <i class="fa fa-calendar ionicIconSize"></i>&nbsp;&nbsp;
                    <label class="checkbox">
                        <input type="checkbox" ng-checked="data.checked" ng-model="bankName[$index];" ng-change="bankShow($index);">
                    </label>
                    {{data.bankName}}
                </li>
            </ul>
        </ion-list>
    </ion-content>
</ion-view>
