<ion-view title="Salary Details">
    <div class="bg"></div>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <ion-item class="item item-divider">
                <div>Salary Details:</div>
            </ion-item>
        </ion-list>
        <div class="card cardBoxShadowCustom" ng-if="bankDetails.length>0">
            <ion-list>
                <form name="salaryDetailsForm" novalidate ng-submit="addSalaryDetailsToDB()">
                    <ion-item>
                        <div class="list">
                            <label class="item item-input">
                                <input type="number" name="salaryAmount" placeholder="Salary Amount" ng-model="salaryDetails.salaryAmount" ng-pattern="onlyNumbers" required>
                            </label>
                        </div>
                    </ion-item>
                    <ion-item>
                        <div class="list">
                            <div>Select Credited Bank:</div>
                        </div>
                        <div class="list">
                            <ion-radio name = "bankDetails" ng-model="salaryDetails.accountNumber" ng-value="bank.accountNumber" ng-repeat="bank in bankDetails" required>
                                <i class="fa fa-calendar ionicIconSize"></i>
                                <span class="bankNameWidth ellipsis">{{bank.bankName}}</span>
                                <span class="bankAccNoWidth ellipsis">{{bank.accountNumber}}</span>
                            </ion-radio>
                        </div>
                    </ion-item>
                    <ion-item ng-if="salaryDetailsError !== undefined">
                        <div ng-if="salaryAmountError" ng-include="'salaryDetailsError'"></div>
                    </ion-item>
                    <ion-item>
                        <div class="padding">
                            <button class="button button-dark button-block">
                                Submit
                            </button>
                        </div>
                    </ion-item>
                </form>
            </ion-list>
        </div>
        <div class="card cardBoxShadowCustom" ng-if="bankDetails.length>0">
            <ion-item>
                <div class="list">
                    <div>Total Amount:</div>
                </div>
                <div class="list" ng-repeat="bank in bankDetails">
                    <i class="fa fa-calendar ionicIconSize"></i>
                    <span class="bankNameWidth ellipsis">{{bank.bankName}}</span>
                    <span class="currentAmountWidth ellipsis">{{bank.currentAmount}}</span>
                </div>
            </ion-item>
        </div>
        <div class="card cardBoxShadowCustom" ng-if="bankDetails.length===0">
            <div class="item item-text-wrap">
                <div ng-include="'../views/templates/noBankDetails.html'"></div>
            </div>
        </div>
        <div class="row" ng-if="bankDetails.length===0">
            <div class="col">
                <a class="button button-royal button-block" href="#/app/addNewBankDetails">Add New Bank Details</a>
            </div>
        </div>
    </ion-content>
</ion-view>
