<ion-view title="User Login">
    <ion-content class="has-header">
        <ion-list>
            <ion-item>
                <div class="list">
                    <label class="item item-input">
                        <input type="email" placeholder="Username" ng-model="createUser.userName">
                    </label>
                </div>
                <div class="list">
                    <label class="item item-input">
                        <input type="password" placeholder="password" ng-model="createUser.password">
                    </label>
                </div>
                <div class="padding">
                    <button class="button button-dark button-block" ng-click="addUser()">
                        Create User
                    </button>
                    <p class="text-center">
                        <a href="#/login">Already A User? Login</a>
                    </p>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
